.section {
  padding: 10rem;
  background: black;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.planet {
  display: flex;

  &__name {
    margin: 0;
    width: 100%;
  }

  &__submit {
    background: #5576DF;
    color: white;
    font-size: 15px;
    padding: 0.5rem;
    border: none;
  }
}

.results {
  background: #E3E3E3;
  padding: 2rem;

  &__top {
    display: flex;
    justify-content: space-between;
  }
}

.result-item {

  &__title {

  }

  &__rating {
    display: flex;

    &--number {
      margin: 0;
      padding-right: 0.2rem;
      font-weight: bold;
    }

    &--icon {

    }
  }

  &__img-container {
    max-width: 20rem;
  }
}
